
    body {
        font-family: 'Arial', sans-serif;
        background-color: #130f0f;
    }

    .jumbotron  {
        
        color: #ffffff;
        padding: 0.8rem;
        margin-bottom: 2rem;
    }

    .skills-list {
        list-style-type: none;
        padding: 0;
        
    }
    .navbar-brand{
        color: #ffffff;    
    }

    .navbar-brand:hover{
        color: #a70c0c;
    }

    .skills-list li {
        margin-bottom: 8px;
    }
    .container{
        margin-top: 10px;
        margin-left: 10px;
        color: #110d0d;
        padding: 0px;
        white-space: 'white-space-collapse';
        font-size: 18px;
    }

    hr {
        border: none;
        height: 1px;
        background-color: rgb(0, 0, 0);
    }
    article{
        color: #110d0d;
        padding: 0px;
        white-space: 'white-space-collapse';
        font-size: 18px;
    }
/* 
    .neural-network {
        width: 200px;
        height: 150px;
        background: url('nnw.gif') no-repeat center center;
        background-size: contain;
        animation: pulse 2s infinite;
    }
    
    @keyframes pulse {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.1);
        }
        100% {
        transform: scale(1);
        }
    } */
